img {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80vw;
  margin: 8%;
  border: solid var(--darkcolor) 1rem;
  border-radius: 5%;
  object-fit: scale-down;

  @media (min-width: 768px) {
    max-width: 40vw;
    display: flex;
  }
}