img {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80vw;
  margin: 8% auto;
  border: solid var(--darkcolor) .8rem;
  border-radius: 5%;

  @media (min-width: 768px) {
    max-width: 80vw;
    display: flex;
  }
}